<nav class="w-[70%] mx-auto">
    <div class="flex justify-between items-end my-3">
        <div>
            <a href="/" class="text-4xl font-bold uppercase">Blog Ninja</a>
            <p>A Ninja site</p>
        </div>
        <ul class="flex items-center gap-10 text-gray-500">
            <li><a href="/" class="hover:text-gray-800">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </div>
    <hr>
</nav>