<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>

    <body>
        <%- include('./partials/nav.ejs')%>
            <div class="text-center flex flex-col item-center justify-center">
                <img class="w-[800px] mx-auto" src="https://freefrontend.com/assets/img/html-funny-404-pages/CodePen-404-Page.gif" alt="">
            </div>

            <%- include('./partials/footer.ejs')%>
    </body>

</html>